- for question in @questions
  .question
    .interested_block{ :id => "block_#{question.id}" }
      = partial :interested_user, :question => question

    %h2 
      = link_to question.title, url(:question, :stripped_title => question.stripped_title)

    .question_body
      = question.body.truncate(200)

#question_pager
  = @questions.pager.to_html('/questions')
